<% content_for(:title, t('.title')) %>

<div class="container mx-auto mt-8 p-8 bg-white max-w-md rounded-lg shodow-md">

  <h1 class="text-2xl font-semibold text-center mb-6"><%= t('.title') %></h1>

  <%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-4 rounded">
        <h2 class="font-bold"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      
    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2 text-center" %>
      <%= @user.email%>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2 text-center" %>
      <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2 text-center" %>
      <%= f.password_field :password_confirmation, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-6">
      <%= f.submit "Change password", class: "w-full bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-4 px-2 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>