<h1>User#show</h1>


<% if current_user === @user %>
  <%= link_to 'profile_edit', edit_profile_path %>
<% end %>

<div>
  名前:
  <%= @user.profile.user_name %>
  <%= image_tag current_user.profile.avatar.url, size: '50x50' %>
</div>

<div>
  <% if @user.profile.introduction.present? %>
    <div>
      自己紹介文:
      <%= @user.profile.introduction %>
    </div>
  <% end %>

  <% if @user.profile.social_link.present? %>
    <div>
      URL:
      <%= @user.profile.social_link %>
    </div>
  <% end %>
</div>

<div>
いいねした投稿
  <div>
    <% if @bookmarked_posts.present? %>
      <% @bookmarked_posts.each do |post| %>
        <%= render 'posts/post', post: post %> <!-- この部分で部分テンプレートを使って各postを表示 -->
      <% end %>
    <% else %>
      <p><%= 'no_result' %></p>
    <% end %>
  </div>
</div>