<header class="bg-indigo-500 text-white py-4">
  <div class="container mx-auto flex items-center justify-between">

    <!-- Home Link -->
    <div>
      <%= link_to home_path do %>
        <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
      <% end %>
    </div>
    

    <!-- Navigation Links -->
    <nav class="flex items-center space-x-4">
      <%= link_to 'Post', posts_path, class: "hover:underline text-white" %>
      <%= link_to 'Logout', logout_path, data: { turbo_method: :delete }, class: "hover:underline text-white" %>
      <div class="flex items-center">
        <%= link_to user_path(current_user) do %>
          <%= image_tag current_user.profile.avatar.url, class: "rounded-full h-8 w-8" %>
        <% end %>
      </div>
    </nav>

  </div>
</header>
