<%= content_for(:title, t('.title')) %>

<div class="h-max flex-1 container mx-auto mt-8 p-8 bg-white rounded-lg shadow-md">
  <h1 class="text-2xl font-semibold mb-6"><%= t('.title') %></h1>
  <div class="grid grid-cols-2 gap-8">
    <!-- Timer Link -->
    <div class="bg-blue-500 text-black p-6 rounded-lg shadow-md text-center">
      <%= link_to t('.timer'), pomodoros_path, class: "block text-lg font-semibold mb-2 hover:underline" %>
      <p class="text-sm">25分タイマーを用意しました！ぜひ活用してください！</p>
    </div>

    <!-- Habit Link -->
    <div class="bg-green-500 text-black p-6 rounded-lg shadow-md text-center">
      <%= link_to t('.habit'), habits_path, class: "block text-lg font-semibold mb-2 hover:underline" %>
      <p class="text-sm">習慣にしたいことを登録しましょう！</p>
    </div>

    <!-- Post Link -->
    <div class="bg-orange-500 text-black p-6 rounded-lg shadow-md text-center">
      <%= link_to t('.post'), posts_path, class: "block text-lg font-semibold mb-2 hover:underline" %>
      <p class="text-sm">頑張った内容を共有して高め合いましょう！</p>
    </div>

    <!-- Calendar Link -->
    <div class="bg-purple-500 text-black p-6 rounded-lg shadow-md text-center">
      <%= link_to t('.calendar'), calendars_path, class: "block text-lg font-semibold mb-2 hover:underline" %>
      <p class="text-sm">カレンダーを用意しました！</br>今日できたかどうか記録しましょう！</br></p>
    </div>
  </div>
</div>
