<%= form_with model: @post, class: "new_post" do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", row: "10", style: "height: 200px" %>
  </div>
  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>