<div class="bg-gray-100 p-6 my-8 rounded-md shadow-md">

  <div class="flex items-center mb-4">
    <div class="flex items-center">
      <%= link_to user_path(post.user) do %>
        <%= image_tag post.user.profile.avatar.url, size: '40x40', class: "rounded-full" %>
      <% end %>
      <span class="ml-4 font-semibold text-lg text-gray-500"><%= post.user.profile.user_name %></span>
    </div>
    <span class="text-gray-500 text-sm ml-auto"><%= time_ago_in_words(post.created_at) %> ago</span>
  </div>

  <p class="text-xl mb-4 text-center text-gray-800"><%= link_to post.body, post_path(post), class: "text-indigo-600 hover:underline" %></p>

  <% if current_user.present? && current_user.own?(post) %>
    <div class="flex items-center justify-center">
      <%= link_to edit_post_path(post) do %>
        <svg class="w-6 h-6 text-gray-800 dark:text-gray" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z"/>
        </svg>
      <% end %>
      <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
        <svg class="w-6 h-6 text-gray-800 dark:text-gray" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
        </svg>
      <% end %>
    </div>
  <% end %>

  <div class="flex items-center justify-between mb-4">
    <div class="flex items-center">
      <span class="text-gray-600 mr-4">Comments: <%= post.comments_count %></span>
      <div class="flex items-center space-x-2">
        <% if logged_in? && !current_user.own?(post) %>
          <div>
            <% if current_user.bookmark?(post) %>
              <%= render 'posts/unbookmark', { post: post } %>
            <% else %>
              <%= render 'posts/bookmark', { post: post } %>
            <% end %>
          </div>
        <% elsif !logged_in? || current_user.own?(post) %>
          <span class="text-gray-600">Likes: <%= post.bookmarks_count %></span>
        <% end %>
      </div>
    </div>
  </div>

</div>
