<div>
  <div>
    <%= link_to post.user.profile.user_name, user_path(post.user) %>
    <%= link_to post.body, post_path(post) %>

    <div>
      <div>
        コメント数:<%= post.comments.count %>
      </div>
      <div class='ms-auto'>
        <% if current_user.present? && current_user.own?(post) %>
          いいね：<%= post.bookmarks.count %>
        <% else %>
          <% if current_user.bookmark?(post) %>
            <%= render 'posts/unbookmark', { post: post } %>：
            <%= post.bookmarks.count %>
          <% else %>
            <%= render 'posts/bookmark', { post: post } %>：
            <%= post.bookmarks.count %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_user.present? && current_user.own?(post) %>
    <%= link_to 'edit', edit_post_path(post) %>
    <%= link_to 'delete', post_path(post), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } %>
  <% end %>
</div>