<div>
  <div>
    <%= link_to user_path(post.user) do %>
      <%= image_tag post.user.profile.avatar.url, size: '40x40' %>
    <% end %>
    <%= post.user.profile.user_name %>
    <%= link_to post.body, post_path(post) %>
    

    <div>
      <div>
        コメント数:<%= post.comments.count %>
      </div>
      <div class='ms-auto'>
        <% if logged_in? && !current_user.own?(post) %>
          <% if current_user.bookmark?(post) %>
            <%= render 'posts/unbookmark', { post: post } %>
          <% else %>
            <%= render 'posts/bookmark', { post: post } %>
          <% end %>
          いいね：<%= post.bookmarks.count %>
        <% elsif !logged_in? || current_user.own?(post) %>
          いいね：<%= post.bookmarks.count %>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_user.present? && current_user.own?(post) %>
    <%= link_to 'edit', edit_post_path(post) %>
    <%= link_to 'delete', post_path(post), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } %>
  <% end %>
</div>