<%= content_for(:title, t('.title')) %>

<div class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-md">
  <h1 class="text-2xl font-semibold mb-6"><%= t('.title') %></h1>

  <div class="flex justify-center mb-4">
    <button id="open-modal-button" class="mb-4 bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-700"><%= t('.post') %></button>
  </div>
  
  <div class="modal hidden" id="new-post-modal">
    <%= render 'posts/form', post: Post.new %>
  </div>

  <% if @posts.present? %>
    <%= render @posts %>
  <% else %>
    <div class="text-gray-600 mb-3">投稿がありません</div>
  <% end %>

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const openModalButton = document.getElementById('open-modal-button');
      const modal = document.getElementById('new-post-modal');

      openModalButton.addEventListener('click', () => {
        modal.classList.remove('hidden');
        openModalButton.classList.add('hidden');
      });
    });
  </script>
</div>