<h1>Posts#show</h1>
<div class="post">
  <div>
    <%= link_to @post.user.profile.user_name, user_path(@post.user) %>
    <% if current_user.present? && current_user.own?(@post) %>
      <%= link_to 'edit', edit_post_path(@post) %>
      <%= link_to 'delete', post_path(@post), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } %>
    <% end %>
  </div>
  <div>
    <%= @post.body %>
  </div>
  <div>
    コメント数：<%= @post.comments.count %>
    <% if logged_in? %>
      <% if current_user.bookmark?(@post)  %>
        <%= render 'unbookmark', { post: @post } %>
      <% else %>
        <%= render 'bookmark', { post: @post } %>
      <% end %>：<%= @post.bookmarks.count %>
    <% end %>
  </div>
</div>

<!-- comment_form area -->
<div class="comment_form">
  <% if logged_in? %>
    <%= render 'comments/form', comment: @comment, post: @post %>
  <% end %>
</div>

<!-- comments area -->
<table class="comment">
  <tbody id="table-comment">
    <%= render @comments %>
  </tbody>
</table>
