<%= content_for(:title, @post.body) %>

<div class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-md">

  <h1 class="text-3xl font-semibold mb-6 text-center"><%= t('.title') %></h1>

  <!-- Post Section -->
  <%= render 'post', post: @post %>

  <div class="flex justify-center mb-4">
    <button id="open-comment-modal-button" class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-700">コメントする</button>
  </div>

  <!-- Comment Section Modal -->
  <% if logged_in? %>
    <div class="modal hidden" id="new-comment-modal">
        <%= render 'comments/form', comment: @comment, post: @post %>
    </div>
  <% end %>

  <hr class="my-8 border-t border-gray-300">
  
  <!-- Comments List Section -->
  <!-- コメントある無しでフォームの表示非表示を行う。-->
  <div class="bg-gray-100 p-6 rounded-md shadow-md mt-6">
    <table class="w-full">
      <tbody id="table-comment">
        <%= render @comments %>
      </tbody>
    </table>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const openModalButton = document.getElementById('open-comment-modal-button');
      const modal = document.getElementById('new-comment-modal');

      openModalButton.addEventListener('click', () => {
        modal.classList.remove('hidden');
        openModalButton.classList.add('hidden');
      });
    });
  </script>
</div>
