<div class="container mx-auto my-8">

  <h1 class="text-3xl font-semibold mb-6">Posts#show</h1>

  <!-- Post Section -->
  <div class="bg-white p-6 rounded-md shadow-md mb-8 text-center">
    <div class="flex items-center justify-between mb-4">
      <div class="flex items-center">
        <span class="font-bold">
          <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.profile.avatar.url, class: "rounded-full h-8 w-8" %>
          <% end %>
        </span>
        <span class="ml-2">
          <%= @post.user.profile.user_name %>
        </span>
        <% if current_user.present? && current_user.own?(@post) %>
          <span class="flex ml-4">
            <%= link_to 'Edit', edit_post_path(@post), class: "text-blue-500 hover:underline" %>
          </span>
          <span class="ml-4">
            <%= link_to 'Delete', post_path(@post), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: "text-red-500 hover:underline" %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="mb-4">
      <%= @post.body %>
    </div>

    <div class="flex items-center justify-between">
      <div class="text-gray-500">
        Comments: <%= @post.comments.count %>
      </div>
      <% if logged_in? %>
        <div class="flex items-center space-x-4">
          <% if current_user.bookmark?(@post) %>
            <%= render 'unbookmark', post: @post %>
          <% else %>
            <%= render 'bookmark', post: @post %>
          <% end %>
          <span class="text-gray-500">Bookmarks: <%= @post.bookmarks.count %></span>
        </div>
      <% end %>
    </div>
  </div>

  <hr class="my-8 border-t border-gray-300">

  <!-- Comment Section -->
  <div class="bg-white p-6 rounded-md shadow-md mb-8 text-center">
    <% if logged_in? %>
      <%= render 'comments/form', comment: @comment, post: @post %>
    <% end %>
  </div>

  <!-- Comments List Section -->
  <!-- コメントある無しでフォームの表示非表示を行う。-->

  <div class="bg-white p-6 rounded-md shadow-md mt-8">
    <table class="w-full">
      <tbody id="table-comment">
        <%= render @comments %>
      </tbody>
    </table>
  </div>

</div>
