<%= content_for(:title, t('.title')) %>

<div class="container mx-auto my-8">
  <h1 class="text-3xl font-semibold mb-4"><%= t('.title') %></h1>

  <div class="flex justify-center mb-4">
    <button id="open-modal-button" class="mb-4 bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-700"><%= t('defaults.habit') %></button>
  </div>

  <div class="modal hidden" id="new-habit-modal">
    <%= render 'habits/form', habit: Habit.new %>
  </div>

  <% if current_user.authentications.blank? %>
    <div class="flex flex-col items-end">
      <p class="mb-2 text-sm text-gray-600"><%= link_to '友だち追加', "https://lin.ee/DNd32Ai", class: "text-blue-500" %>で習慣の時間を通知する</p>
      <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="@451lqcsn" style="display: none;"></div>
      <script src="www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    </div>
  <% end %>

  <% if @habits.present? %>
    <%= render @habits %>
  <% else %>
    <div class="bg-white rounded-lg p-4 mt-4 mb-4 shadow-md flex items-center justify-center">
      <p class="text-gray-500 mb-4">習慣がありません！作成しましょう！</p>
    </div>
  <% end %>

  <!-- modal wind -->
  <div id="modal" class="hidden fixed z-10 inset-0 overflow-y-auto">
  <!-- モーダル中央表示 -->
    <div class="flex items-center justify-center min-h-screen">
      <!-- モーダルコンテンツ -->
      <div class="bg-gray-100 rounded-lg shadow-xl transform transition-all sm:max-w-lg sm:w-full p-4">
        <div class="flex justify-between items-center">
            <h2 class="text-xl font-medium text-gray-900 text-center flex-grow">LINE友だち追加</h2>
            <!-- 閉じるボタン -->
          <div id="closeModal" class="cursor-pointer">✖️</div>
        </div>
        <div class="mt-2 text-center">
          <p>LINE通知を受け取るには</p>
          <p>公式アカウントの友達追加をおねがいします！</p>
        </div>
        <div class="mt-4 text-center">
          <%= link_to '友だち追加', "https://lin.ee/DNd32Ai", target: "_blank", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700" %>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('turbo:load', () => {
      const openModalButton = document.getElementById('open-modal-button');
      const modal = document.getElementById('new-habit-modal');
    
      openModalButton.addEventListener('click', () => {
        modal.classList.remove('hidden');
        openModalButton.classList.add('hidden');
      });
    });  

    document.addEventListener('turbo:load', function() {
      const modal = document.getElementById('modal');
      const closeModal = document.getElementById('closeModal');

      const urlParams = new URLSearchParams(window.location.search);
      if (urlParams.get('modal') === 'show') {
        modal.classList.remove('hidden');
      }

      closeModal.addEventListener('click', function() {
        modal.classList.add('hidden');
      });
    });
  </script>
</div>
