<%= content_for(:title, t('.title')) %>

<div class="container mx-auto my-8">
  <h1 class="text-3xl font-semibold mb-4"><%= t('.title') %></h1>

  <div class="flex justify-center mb-4">
    <button id="open-modal-button" class="mb-4 bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-700"><%= t('defaults.habit') %></button>
  </div>

  <div class="modal hidden" id="new-habit-modal">
    <%= render 'habits/form', habit: Habit.new %>
  </div>

  <div class="flex flex-col items-end">
    <p class="mb-2 text-sm text-gray-600">LINE友だち追加で習慣の時間を通知する</p>
    <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="@451lqcsn" style="display: none;"></div>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  </div>

  <% if @habits.present? %>
    <%= render @habits %>
  <% else %>
    <div class="bg-white rounded-lg p-4 mt-4 mb-4 shadow-md flex items-center justify-center">
      <p class="text-gray-500 mb-4">習慣がありません！作成しましょう！</p>
    </div>
  <% end %>

  <script>
    document.addEventListener('turbo:load', () => {
      const openModalButton = document.getElementById('open-modal-button');
      const modal = document.getElementById('new-habit-modal');
    
      openModalButton.addEventListener('click', () => {
        modal.classList.remove('hidden');
        openModalButton.classList.add('hidden');
      });
    });  
  </script>
</div>
